.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 140px;
}

.services_title{
    position: relative;
}

.services_title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.services_title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.services_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 30px;
}

.service_format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 30px 60px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;
}

.service_format h3{
    font-size: 28px;
    font-weight: 600;
}

.service_format h2{
    font-size: 38px;
    font-weight: 800;
    background: linear-gradient(270deg, #df8908 50%, #b415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.service_format p{
    color: #d4d4d4;
    max-width: 300px;
}

.service_format:hover{
    border: 2px solid #ff00ff;
    background-image: linear-gradient(45deg, #3f0028, #582300);
    transform: scale(1.05);
    transition: 0.4s;
}

.services_readmore{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

/* @media (min-width: 1024px) {
    .services{
        margin: 80px; 
    }

    .services_container{
        gap: 25px;
    }

    .service_format{
        padding: 30px;
    }

    .service_format h2{
        font-size: 32px;
    }
} */

@media (max-width: 768px) {
    .services{
       gap: 80px;
       margin: 50px 70px;
       align-items: start; 
    }

    .services_title h1{
        font-size: 50px;
        padding: 0;
    }

    .services_title img{
        width: 130px;
        right: -20px;
    }

    .service_format{
        flex-direction: column;
        gap: 20px;
        padding: 17px;
    }

    .service_format h2{
        font-size: 28px;
    }

    .services_container{
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .service_format p{
        font-size: 18px;
        line-height: 25px;
        max-width: 300px;
    }

    .services_readmore img{
        width: 20px;
    }
}

/* @media (min-width: 414px) {
    .services {
        margin: 50px 30px;
    }

    .services_title h1 {
        font-size: 32px;
    }

    .services_title img {
        width: 80px;
    }

    .services_container{
        grid-template-columns: 1fr;
    }
} */