.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 140px;
}

.contact_title{
    position: relative;
}

.contact_title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.contact_title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;

}

.contact_section{
    display: flex;
    gap: 150px;
}

.contact_left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact_left h1{
    font-size: 55px;
    font-weight: 700;
    background: linear-gradient(270deg, #df8908 80%, #b415ff 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.contact_left p{
    max-width: 550px;
    color: #d4d4d4;
    font-size: 20px;
    line-height: 25px;
}

.contact_details{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #d8d8d8;
    font-size: 22px;
}

.contact_detail{
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact_icon{
    font-size: 35px;
}

.contact_right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 25px;
}

.form_fields{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    width: 550px;
}

.form_fields label{
    color: #d8d8d8;
    font-size: 22px;
    font-weight: 500;
}

.form_fields input{
    border: none;
    width: 100%;
    height: 60px;
    padding-left: 20px;
    border-radius: 5px;
    background: #32323c;
    color: #a0a0a0;
    font-family: Outfit;
    font-size: 20px;
}

.form_fields textarea{
    width: 100%;
    border: none;
    padding: 20px;
    border-radius: 5px;
    background: #32323c;
    color: #a0a0a0;
    font-family: Outfit;
    font-size: 20px
}

.contact_submit{
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 102%);
    padding: 20px 60px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
}

.contact_submit:hover{
    transform: scale(1.1);
    transition: 0.4s;
}

@media (min-width: 1024px) {
    .contact{
        margin: 80px;
    }

    .contact_section {
        gap: 45px;
    }

    .contact_left h1{
        font-size: 45px;
    }

    .contact_left p{
        font-size: 17px;
    }

    .form_fields{
        width: 450px;
    }

    .form_fields input{
        padding: 0;
    }

    .form_fields textarea{
        padding: 0;
    }
}

@media (max-width: 768px) {
    .contact{
       gap: 40px;
       margin: 50px 70px;
       align-items: start; 
    }

    .contact_title h1{
        font-size: 50px;
        padding: 0;
    }

    .contact_title img{
        width: 130px;
        right: -20px;
    }

    .contact_section{
        flex-direction: column;
        gap: 40px;
    }

    .contact_left h1{
        font-size: 47px;
    }

    .contact_left p{
        font-size: 18px;
    }

    .contact_details{
        gap: 15px;
    }

    .contact_icon {
        font-size: 30px;
    }

    .contact_right{
        align-items: center;
    }

    .form_fields{
        width: 580px;
    }

    .form_fields label{
        font-size: 20px;
    }

    .form_fields input{
        width: 100%;
        height: 50px;
    }

    .form_fields textarea{
        width: 100%;
    }

    .contact_submit{
        margin-bottom: 0px;
        padding: 15px 50px;
        font-size: 18px;
    }
}

@media (min-width: 414px) {

    .contact {
        margin: 50px 30px;
    }

    .contact_title h1 {
        font-size: 32px;
    }

    .contact_title img {
        width: 80px;
    }

    .contact_left h1 {
        font-size: 30px;
    }

    .contact_left p {
        font-size: 16px;
    }

    .contact_icon {
        font-size: 25px;
    }

    .contact_right {
        align-items: start;
    }

    .form_fields label {
        font-size: 16px;
    }

    .form_fields {
        width: 280px;
    }

    .form_fields input{
        width: 106%;
    }
}