@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Poetsen+One&display=swap');

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}

.nav_heading{
    font-family: "Kalam", cursive;
    font-size: 50px;
    font-weight: bold;
}

.nav_menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
    font-style: italic;
}

.nav_connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.6s;
}

.nav_connect:hover{
    transform: scale(1.05);
}

.nav_menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav_menu li img{
    display: flex;
    margin: auto;
}

.anchor_link{
    text-decoration: none;
    color: white;
}

.nav_mob_close{
    display: none;
}

.nav_mob_open{
    display: none;
}

@media(min-width: 1024px){

    .navbar{
        margin: 20px 60px;
    }

    .nav_menu{
        gap: 40px;
    }

    .nav_connect {
        padding: 10px 25px;
        font-size: 18px;
    }
}

@media(max-width: 768px){
    .navbar{
        margin: 20px 50px;
    }

    .nav_connect{
        display: none;
    }

    .nav_mob_open{
        display: block;
        position: fixed;
        right: 30px;
    }

    .nav_mob_close{
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }

    .nav_menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1f0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }

    .nav_menu li{
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
    }
}

@media (min-width: 414px) {
    .nav_mob_open{
        width: 20px;
        right: 8px;
    }
}